<div class="grid-container">
  <div class="grid-item">
    <h2><img src="assets/favicon.ico" alt="Icono" class="icon"> Experto 1</h2>
    <app-chat [botConfig]="botConfigs.experto1"></app-chat>
  </div>
  <div class="grid-item">
    <h2><img src="assets/favicon.ico" alt="Icono" class="icon"> Experto 2</h2>
    <app-chat [botConfig]="botConfigs.experto2"></app-chat>
  </div>
  <div class="grid-item">
    <h2><img src="assets/favicon.ico" alt="Icono" class="icon"> Experto 3</h2>
    <app-chat [botConfig]="botConfigs.experto3"></app-chat>
  </div>
  <div class="grid-item">
    <h2><img src="assets/favicon.ico" alt="Icono" class="icon"> Experto 4</h2>
    <app-chat [botConfig]="botConfigs.experto4"></app-chat>
  </div>
</div>
